* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: system-ui;
    background-color: #efefef;
}

header {
    padding: 2rem 4rem;
    border-bottom: 2px solid #29213f;
}

header ul {
    list-style: none;
}

header a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
}

header a:hover {
    color: rgb(0, 0, 152);
}

header img {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: grayscale(1);
    margin: auto;
   padding-bottom: .5rem;
   display: block;
}

h1 {
    text-align: center;
    color: peru;
    text-decoration: underline;
    padding-bottom: 1rem;
}

main {
    margin: 2rem 4rem;
}

main section {
    margin-bottom: 3rem;
}

p {
    max-width: 80ch;
}

section li h3, section li p {
    font-size: .8rem;
    letter-spacing: 0.5px;
}

section li {
    margin: 0.5rem;
}

footer {
    border-top: 1px solid;
}